mixin team(teams)
	.team
		.title 队伍信息
			#addteam.func +
		.tabs
			.tab-titles
				each team in teams
					- var name = team.name;
					- var rel = team.rel;
					span.tab-title(tab-rel=rel) #{name}
			each team in teams
				.tab
					- var name = team.name;
					- var info = team.info;
					+tab(name, info)
		.addbox
			.grid-3
				- var i=0;
				while i < 3
					+row(3, i)
					- i++;
			.teaminfo
				input.teamname(type='text' placeholder='队伍名称')
				span.addBtn 完成

mixin row(n, row)
	.row
		- var i = 0;
		while i < n
			.add-player(id='player'+(row*n+i++))
				span +


mixin tab(name, info)
	.line
		.left 队伍名
		.right #{name}
	.grid
		each item in info
			-var src = item.img;
			a.member
				img(src=src)

