.mask
   .peakbox
      .title
         span.left 选(zu)择(jian)队(hou)员(gong)
      .condition
         .select-box
            span 属性
            select#prop
               option(value='cool') Cool
               option(value='smile') Smile
               option(value='pure') Pure
         .select-box
            span 级别
            select#type
               option(value='N') N
               option(value='R') R
               option(value='SR') SR
               option(value='UR') UR
         .select-box
            span 角色
            select#char
               option(value='0') 非主角
               option(value='高坂穂乃果') 高坂穂乃果
               option(value='絢瀬絵里') 絢瀬絵里
               option(value='南ことり') 南ことり
               option(value='園田海未') 園田海未
               option(value='星空凛') 星空凛
               option(value='西木野真姫') 西木野真姫
               option(value='東條希') 東條希
               option(value='小泉花陽') 小泉花陽
               option(value='矢澤にこ') 矢澤にこ
         .search-btn GO!
      .grid-5-2
      .paging
         span.prev <<
         span.next >>
         input.total(type='hidden')
      .fin-btn OK
