.card
   .title 卡片信息
   .flip-container(ontouchstart="this.classList.toggle('hover');")
      .flipper
         .front
         .back
   .cardinfo
      .faces
         img.face-normal
         img.face-horo
      - each item in [{'name':'卡牌名称', 'val':'', 'id':'name'},{'name':'属性', 'val':'', 'id':'type'}, {'name':'体力', 'val':'', 'id':'power'},{'name':'Smile', 'val':'', 'id':'smile'}, {'name':'Pure', 'val':'', 'id':'pure'}, {'name':'Cool', 'val':'', 'id':'cool'}, {'name':'技能', 'val':'', 'id':'skill'}]
         - var name = item.name
         - var val = item.val
         - var xxx = item.id
         .line
            .left=name
            .right(id=xxx) #{val}