.card
   h2 卡片信息
   .flip-container(ontouchstart="this.classList.toggle('hover');")
      .flipper
         .front
         .back
   .cardinfo
   - each item in [{'name':'等级', 'val':2, 'id':'level'}, {'name':'属性', 'val':'Smile', 'id':'type'}, {'name':'体力', 'val':'5', 'id':'power'}, {'name':'各项数值', 'val':'50 100 50', 'id':'values'}, {'name':'技能', 'val':'射穿你的心', 'id':'skill'}]
      .line
         - var name = item.name
         - var val = item.val
         - var xxx = item.id
         .left #{name}
         .right(id=xxx) #{val}