extends layout/layout
block myhead
	script(type='text/javascript' src='javascripts/card.js')
	script(type='text/javascript' src='javascripts/3part/firework.js')
	link(href='stylesheets/card.css' rel='stylesheet')
block content
	header
		h1 Lovellife!
		canvas(id='canvas')
	.wrapper
		.main
			.nav
				.nav-bar
					span 玩家信息>>卡组一览
				h2 Akitech
				h3 西木野达人
				span 40张
			.info
				include card/_card_team
				+team(teaminfo)
				include card/_card_card
			.mask
				.peakbox
					.title
						span.left 选择队(hou)员(gong)
					.condition
						.select-box
							span 属性
							select#prop
								option(value='C') Cool
								option(value='S') Smile
								option(value='P') Pure
						.select-box
							span 级别
							select#type
								option(value='N') N
								option(value='SR') SR
								option(value='UR') UR
						.select-box
							span 角色
							select#char
								option(value='0') 非主角
								option(value='1') 高板惠乃果
								option(value='2') 南小鸟
								option(value='3') 园田海未
								option(value='4') 凛
								option(value='5') 小泉花阳
								option(value='6') 西木野真姬
								option(value='7') 绚濑绘里
								option(value='8') 东条希
								option(value='9') 矢泽妮可
						.search-btn GO!
					.grid-5-2
								-var i =0;
								while i<2
									+pickrow(5)
									- i++;
					.prevBtn
					.nextBtn

mixin pickrow(n)
	.row
		-var i=0;
		while i < n
			.player
			- i++;
