extends ../layout/layout
block myhead
   script(type='text/javascript' src='/javascripts/users.js')
   link(href='/stylesheets/signup.css' rel='stylesheet')
block content
   .wrapper
      .title 新用户注册
         a(href='/signup' )
      .content
         .row
            span.left 邮箱
            input#email(type='email')
         .row
            span.left 用户名
            input#uname(type='text')
         .row
            span.left 密码
            input#pwd(type='password')
            span.eye 眼睛按钮
         .row
            span.left 确认密码
            input#pwd2(type='password')
            span.eye 眼睛按钮
         .row.center
            span.error &nbsp;
         .row.center
            input#signBtn(type='submit')
