doctype html
html
	head
		title= title
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		script(type='text/javascript' src='/javascripts/3part/jquery.min.js')
		script(type='text/javascript' src='/javascripts/3part/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript' src='/javascripts/3part/jquery.swipe-events.js')
		script(type='text/javascript' src='/javascripts/3part/fsvs.js')
		script(type='text/javascript' src='/javascripts/3part/bundle.js')
		script(type='text/javascript' src='/javascripts/3part/prismjs.js')
		block myhead
	body
		block content
