.nav-bar
	.logo
		img(src='images/layout/logo1.jpg')
	.nav
		ul
			li
				a(href='#intro') 介绍
			li
				a(href='/card' target='_blank') 卡牌
			li
				a(href='/game' target='_blank') 游戏
			li
				a(href='#more') 更多
	.ui
		img(src='images/layout/ui.jpeg')
